@import "tailwindcss";

:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

body {
  background-color: #fbf9e9;
  color: #111;
  font-family: var(--font-space-grotesk);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 28s linear infinite;
}
